
.vs/NewShoreAIR/v16/.suo
API/obj/API.csproj.nuget.dgspec.json
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
API/obj/project.assets.json
API/obj/project.nuget.cache
BLL/obj/BLL.csproj.nuget.dgspec.json
BLL/obj/Debug/netcoreapp3.1/BLL.assets.cache
BLL/obj/Debug/netcoreapp3.1/BLL.csproj.AssemblyReference.cache
BLL/obj/project.assets.json
BLL/obj/project.nuget.cache
DataBase/obj/DataBase.csproj.nuget.dgspec.json
DataBase/obj/Debug/netcoreapp3.1/DataBase.assets.cache
DataBase/obj/project.assets.json
DataBase/obj/project.nuget.cache
TestUnit/obj/Debug/netcoreapp3.1/TestUnit.assets.cache
TestUnit/obj/Debug/netcoreapp3.1/TestUnit.csproj.AssemblyReference.cache
TestUnit/obj/project.assets.json
TestUnit/obj/project.nuget.cache
TestUnit/obj/TestUnit.csproj.nuget.dgspec.json
TestUnit/obj/project.nuget.cache
